@font-face {font-family:"Mensch";src:url('Mensch.ttf');}
@font-face {font-family:"Nexa Bold";src:url('Nexa Bold.otf');}
@font-face {font-family:"raleway";src:url('raleway_thin.otf');}
@font-face {font-family:"nexabold";src:url('Nexa Bold.otf');}
@font-face {font-family:"league gothic";src:url('LeagueGothic Regular.otf');}
@font-face {font-family:"adelle sb";src:url('Adelle Semibold.otf');}
@font-face {font-family:"Quicksand Light";src:url('Quicksand Light.otf');}
@font-face {font-family:"Quicksand Bold";src:url('Quicksand Bold.otf');}
@font-face {font-family:"typograph pro ultralight";src:url('TYPOGRAPH PRO Ultra Light.ttf');}
@font-face {font-family:"typograph pro light";src:url('TYPOGRAPH PRO Light_0.ttf');}
@font-face {font-family:"typograph pro extrabold";src:url('TYPOGRAPH PRO Extra Bold_0.ttf');}
@font-face {font-family:"Nexa Light";src:url('Nexa Light.otf');}
@font-face {font-family:"bebas neue";src:url('BebasNeue.otf');}
@font-face {font-family:"deibi";src:url('deibi.otf');}

/*
body {
	line-height: 5%;
}
*/

.ul {
	text-decoration: none;
}

a	{
	text-decoration: none;
}

a:hover	{
	text-decoration: underline;
}

.font {
	font-family: "Mensch";
	font-size: 30;
	color: #16a085;
}

.head {
	line-height:100%;
}

td {
	text-align: right;
}

table {
	line-height: 150%
}

.fontbold {
	font-family: "Mensch";
	font-size: 30;
	color: #34495e;
	text-decoration: none;
}

.headline {
	font-family: "Mensch";
	font-size: 40;
	font-weight: bold;
	color: #2c3e50;
}

#entry {
	color: #34495e;
	text-decoration: none;
}

#video_background {
	position:fixed;
	bottom:0px;
	right:0px;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-1;
	overflow:hidden
}

#bg-image {
	blend-mode:overlay;
	z-index: -1;
	min-height: 100%;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#links {
	position:fixed;
	color:#000000;
	width:100%;
	box-shadow: 0px 0px 330px 250px;
	opacity:0.55
}

#entry {
	color: #34495e;

}

#signin {
	font-size:40
}

#fixed {
	position:fixed;
	width:100%
}

p.fixedmenu {
	position: fixed;
	top: 50px;
	right: 50px;
}

#search input[type="text"] {
	background: url(search-white.png) no-repeat 10px 10px #151515;
	border: 0 none;
	font: 16px Quicksand,Arial,Helvetica,Sans-serif;
	color: #d7d7d7;
	width: 250px;
	padding: 6px 15px 6px 35px;
	border-radius: 20px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
	transition: all 0.7s ease 0s;
	opacity:0.9;
}
		
#search input[type="text"]:focus {
	background: url(search-white.png) no-repeat 10px 6px ##FAFAFA;
	color: #F5F5F5;
	width: 300px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}			

.opacitynone {
	opacity:0;
}


.active {
	text-shadow: 1px 1px 2px #FE2E9A;
	font-size: 45;
}

.activedark {
	text-shadow: 1px 1px 2px #2E2E2E;
	font-size: 45;
}

.activeblue {
	text-shadow: 1px 1px 2px #5882FA;
	font-size: 45;
}


.active:hover {
	border-bottom: 0px solid #FFFFFF;
}


.activedark:hover {
	border-bottom: 0px solid #FFFFFF;
}

.activeblue:hover {
	border-bottom: 0px solid #FFFFFF;
}
		
#fixed {
	position:fixed;
	width:100%
}

#define {
	opacity:0.65;
	text-shadow: 0.1em 0.1em 0.05em #333;
	font-size:24;
	color:#FAFAFA
}

.leaplink {
	text-decoration: none;
}

.leaplink:hover {
	font-family: Mensch;
	border-bottom: 0px 0px 0px #FFF
}
