<<<<<<< HEAD
@font-face {font-family:"Mensch";src:url('Mensch.ttf');}
@font-face {font-family:"Nexa Bold";src:url('Nexa Bold.otf');}

body {
	line-height: 5%;
}

.font {
	font-family: "Mensch";
	font-size: 30;
	color: #16a085;
	text-align: left;
	align: left;
}

.head {
	line-height:100%;
}

td {
	text-align: right;
}

table {
	line-height: 150%;
}

.fontbold {
	font-weight:bold;
	font-family: "Mensch";
	font-size: 30;
	color: #34495e;
	align: left;
}

.headline {
	font-family: "Mensch";
	font-size: 50;
	font-weight: bold;
	color: #2c3e50;
}

#video_background {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	z-index: -1;
	overflow: hidden;
}

table	{
	
}

#bg-image {
	blend-mode:overlay;
	z-index: -1;
	min-height: 100%;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#links {
	position: fixed;
	color: #000000;
	width: 100%;
	box-shadow: 0px 0px 330px 250px;
	opacity: 0.5;
}

#links:hover {
	opacity: 1;
}

a:hover {
	transition: 0.6s;
	color: white;
	border-botto: 1px solid #FFFFFF;
	opacity: 1;
	font-family: "Nexa Bold";
}

a {
	color: #E6E6E6;
}

#signin {
	font-size:40;
}

p.fixedmenu {
	position: fixed;
	top: 50px;
	right: 50px;
}

#search input[type="text"] {
	background: url(search-white.png) no-repeat 9px 9px #060606;
	border: 0 none;
	font: 16px Quicksand Light,Arial,Helvetica,Sans-serif;
	color: #FAFAFA;
	width:250px;
	padding: 6px 15px 6px 35px;
	border-radius: 20px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
	transition: all 0.7s ease 0s;
	opacity:0.9
}

#search input[type="text"]:focus {
	background: url(search-white.png) no-repeat 10px 6px #151515;
	color: #FAFAFA;
	width: 300px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.opacitynone {
	opacity:0;
}

#fixed {
	position: fixed;
	line-height: 200%;
	color: #FFFFFF;
	padding:15;
	opacity: 1;
}

.active {
	text-shadow: 1px 1px 2px #FE2E9A;
	font-size: 45;
}

.activedark {
	text-shadow: 1px 1px 2px #2E2E2E;
	font-size: 45;
}

.activeblue {
	text-shadow: 1px 1px 2px #5882FA;
	font-size: 45;
}


.active:hover {
	border-bottom: 0px solid #FFFFFF;
}


.activedark:hover {
	border-bottom: 0px solid #FFFFFF;
}

.activeblue:hover {
	border-bottom: 0px solid #FFFFFF;
}

#define {
	opacity:0.95;
	text-shadow: 0.1em 0.1em 0.05em #333;
	font-size: 24;
	color: #FAFAFA;
}

.leaplink {
	text-decoration: none;
}

.leaplink:hover {
	font-family: Mensch;
	border-bottom: 0px 0px 0px #FFF
}

.hactive {
	text-decoration: none;

}

.blur	{
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
}
/*
#container {
  width: 640px;
  height: 360px;
  overflow: hidden;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

#videobcg {
  width: 100%;
  height: auto;
}
*/

@font-face {font-family:"typograph pro ultralight";src:url('TYPOGRAPH PRO Ultra Light.ttf');}
@font-face {font-family:"typograph pro light";src:url('TYPOGRAPH PRO Light_0.ttf');}
@font-face {font-family:"typograph pro extrabold";src:url('TYPOGRAPH PRO Extra Bold_0.ttf');}
@font-face {font-family:"crushed";src:url('TYPOGRAPH PRO Ultra Light.ttf');}
@font-face {font-family:"bebas neue";src:url('BebasNeue.otf');}
@font-face {font-family:"deibi";src:url('deibi.otf');}
@font-face {font-family:"AnticFont";src:url('ANTIC.ttf');}
@font-face {font-family:"roboto light";src:url('Roboto-light.ttf');}
@font-face {font-family:"raleway";src:url('raleway_thin.otf');}
@font-face {font-family:"nexabold";src:url('Nexa Bold.otf');}
@font-face {font-family:"candela bold";src:url('CandelaBold.otf');}
@font-face {font-family:"league gothic";src:url('LeagueGothic Regular.otf');}
@font-face {font-family:"adelle sb";src:url('Adelle Semibold.otf');}
@font-face {font-family:"Quicksand Light";src:url('Quicksand Light.otf');}
@font-face {font-family:"Quicksand Bold";src:url('Quicksand Bold.otf');}		
@font-face {font-family:"Nexa Light";src:url('Nexa Light.otf');}

=======
@font-face {font-family:"Mensch";src:url('Mensch.ttf');}
@font-face {font-family:"Nexa Bold";src:url('Nexa Bold.otf');}

body {
	line-height: 5%;
}

.font {
	font-family: "Mensch";
	font-size: 30;
	color: #16a085;
	text-align: left;
	align: left;
}

.head {
	line-height:100%;
}

td {
	text-align: right;
}

table {
	line-height: 150%;
}

.fontbold {
	font-weight:bold;
	font-family: "Mensch";
	font-size: 30;
	color: #34495e;
	align: left;
}

.headline {
	font-family: "Mensch";
	font-size: 50;
	font-weight: bold;
	color: #2c3e50;
}

#video_background {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	z-index: -1;
	overflow: hidden;
}

table	{
	
}

#bg-image {
	blend-mode:overlay;
	z-index: -1;
	min-height: 100%;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#links {
	position: fixed;
	color: #000000;
	width: 100%;
	box-shadow: 0px 0px 330px 250px;
	opacity: 0.5;
}

#links:hover {
	opacity: 1;
}

a:hover {
	transition: 0.6s;
	color: white;
	border-botto: 1px solid #FFFFFF;
	opacity: 1;
	font-family: "Nexa Bold";
}

a {
	color: #E6E6E6;
}

#signin {
	font-size:40;
}

p.fixedmenu {
	position: fixed;
	top: 50px;
	right: 50px;
}

#search input[type="text"] {
	background: url(search-white.png) no-repeat 9px 9px #060606;
	border: 0 none;
	font: 16px Quicksand Light,Arial,Helvetica,Sans-serif;
	color: #FAFAFA;
	width:250px;
	padding: 6px 15px 6px 35px;
	border-radius: 20px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
	transition: all 0.7s ease 0s;
	opacity:0.9
}

#search input[type="text"]:focus {
	background: url(search-white.png) no-repeat 10px 6px #151515;
	color: #FAFAFA;
	width: 300px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.opacitynone {
	opacity:0;
}

#fixed {
	position: fixed;
	line-height: 200%;
	color: #FFFFFF;
	padding:15;
	opacity: 1;
}

.active {
	text-shadow: 1px 1px 2px #FE2E9A;
	font-size: 45;
}

.activedark {
	text-shadow: 1px 1px 2px #2E2E2E;
	font-size: 45;
}

.activeblue {
	text-shadow: 1px 1px 2px #5882FA;
	font-size: 45;
}


.active:hover {
	border-bottom: 0px solid #FFFFFF;
}


.activedark:hover {
	border-bottom: 0px solid #FFFFFF;
}

.activeblue:hover {
	border-bottom: 0px solid #FFFFFF;
}

#define {
	opacity:0.95;
	text-shadow: 0.1em 0.1em 0.05em #333;
	font-size: 24;
	color: #FAFAFA;
}

.leaplink {
	text-decoration: none;
}

.leaplink:hover {
	font-family: Mensch;
	border-bottom: 0px 0px 0px #FFF
}

.hactive {
	text-decoration: none;

}

.blur	{
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
}
/*
#container {
  width: 640px;
  height: 360px;
  overflow: hidden;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

#videobcg {
  width: 100%;
  height: auto;
}
*/

@font-face {font-family:"typograph pro ultralight";src:url('TYPOGRAPH PRO Ultra Light.ttf');}
@font-face {font-family:"typograph pro light";src:url('TYPOGRAPH PRO Light_0.ttf');}
@font-face {font-family:"typograph pro extrabold";src:url('TYPOGRAPH PRO Extra Bold_0.ttf');}
@font-face {font-family:"crushed";src:url('TYPOGRAPH PRO Ultra Light.ttf');}
@font-face {font-family:"bebas neue";src:url('BebasNeue.otf');}
@font-face {font-family:"deibi";src:url('deibi.otf');}
@font-face {font-family:"AnticFont";src:url('ANTIC.ttf');}
@font-face {font-family:"roboto light";src:url('Roboto-light.ttf');}
@font-face {font-family:"raleway";src:url('raleway_thin.otf');}
@font-face {font-family:"nexabold";src:url('Nexa Bold.otf');}
@font-face {font-family:"candela bold";src:url('CandelaBold.otf');}
@font-face {font-family:"league gothic";src:url('LeagueGothic Regular.otf');}
@font-face {font-family:"adelle sb";src:url('Adelle Semibold.otf');}
@font-face {font-family:"Quicksand Light";src:url('Quicksand Light.otf');}
@font-face {font-family:"Quicksand Bold";src:url('Quicksand Bold.otf');}		
@font-face {font-family:"Nexa Light";src:url('Nexa Light.otf');}

>>>>>>> 44d65229aab14fc3249397e03006a11ed10189b3
